@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";


@theme {
  /* Background */
  --color-bg-primary: #050d1a;
  --color-bg-secondary: #0a1628;
  --color-bg-card: rgba(255, 255, 255, 0.03);

  /* Border */
  --color-border-primary: rgba(255, 255, 255, 0.08);
  --color-border-hover: rgba(79, 124, 247, 0.3);

  /* Text */
  --color-text-primary: #ffffff;
  --color-text-secondary: rgba(255, 255, 255, 0.75);
  --color-text-muted: rgba(255, 255, 255, 0.55);

  /* Brand Colors */
  --color-primary: #4f7cf7;
  --color-secondary: #9b5cf6;

  /* Gradient */
  --gradient-primary: linear-gradient(
    to right,
    #4f7cf7,
    #9b5cf6
  );

  /* Radius */
  --radius-card: 24px;
  --radius-button: 16px;

  /* Shadow */
  --shadow-glow: 0 0 80px rgba(79, 124, 247, 0.25);

  /* Font */
  --font-display: "Poppins", sans-serif;
}

@layer utilities {
  .bg-grid {
    background-image:
      linear-gradient(rgba(255,255,255,0.03) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255,255,255,0.03) 1px, transparent 1px);
    background-size: 64px 64px;
  }

  .bg-glow {
    position: absolute;
    width: 500px;
    height: 500px;
    background: rgba(79, 124, 247, 0.2);
    filter: blur(150px);
    border-radius: 9999px;
  }

  .card-glass {
    background: rgba(255,255,255,0.03);
    border: 1px solid rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
  }
}